.full-width {
  width: 100%;
  font-family: "Roboto Slab", serif;
}
.formbg {
  background-image: url(../../../assets/bg8.jpg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -160px;
  margin-top: -2px;
  padding: 20px;
  height: 100vh;
  z-index: 10;
}

.shipping-card {
  max-width: 50%;
  margin: 130px auto;
  /* background-color: white; */
  background-color: transparent;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.header {
  padding-left: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.button {
  margin-left: 20px;
  font-family: "Roboto Slab", serif;
}

.material-icons {
  cursor: pointer;
}
.material-icons:hover {
  background-color: aqua;
  border-radius: 10px;
}
mat-card-title{
  color: white;
}
.text1{
  color: white;
}
.text2{
  color: white;
  font-size: 17px;
  margin-left: 49%;
}
