.material-icons {
  cursor: pointer;
}

.material-icons:hover {
  border-radius: 10px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 20px;
}


mat-form-field {
  margin-left: 10px;

  max-width: 50%;
}

textarea {
  margin-bottom: -27px;
}


.fullForm1 {
  /* background-image: url(../../../assets/wood-.jpg);
  background-size: cover; */
  background-color: rgb(86, 49, 120);

margin-top: 10%;
}

mat-panel-title {
  color: white;
  font-size: 20px;
  margin-left: 27%;
  font-weight: 500;
  margin-bottom: 20px;
}

.text1 {
  font-size: 17px;
  color: white;
}

button{
  margin-left: 37%;
}
