<div class="main-div" *ngFor="let bills of shopData?.billList">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{shopData?.shopName}}</mat-card-title>
        <mat-card-subtitle>{{bills.customerName}}</mat-card-subtitle>
        <mat-card-subtitle>{{bills.billId}}</mat-card-subtitle>
        <mat-card-subtitle>{{bills.customerPhoneNo}}</mat-card-subtitle>
        <mat-card-subtitle>{{bills.customerEmailID}}</mat-card-subtitle>
        <mat-card-subtitle>{{bills.customerAddress}}</mat-card-subtitle>
        <img src={{shopData?.shopLogo}} alt="shop-logo">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="bill-table">
        <div>
          sr
        </div>
        <div>
          <h3>Product Name</h3>
        </div>
        <div>
          <h3>QTY</h3>
        </div>
        <div>
          <h3>Unit price</h3>
        </div>
        <div>
          <h3>Amount</h3>
        </div>
      </div>
      <div class="bill-table" *ngFor="let productPurchased of bills.purchasedProductList">
        <div>
          sr
        </div>
        <div>
          {{productPurchased.productName}}
        </div>
        <div>
          {{productPurchased.purchasedQty}}
        </div>
        <div>
          {{productPurchased.productPrice}}
        </div>
        <div>
          Qty * Price
        </div>
      </div>
      <div class="bill-total">
        <h4>Total Amount : {{bills.totalBill}}</h4>
      </div>
      <div class="bill-total">
        <h4>Discount : {{bills.discount}}</h4>
      </div>
    </mat-card-content>

  </mat-card>

</div>

<!-- <div  class="size1" id="pg">
  <div style="width: 400px">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onCardDataChange($event)">
    </pagination-controls>
  </div>
  <div class="size1">
    <a>Bills per page :- </a>
    <select (change)="onCardSizeChange($event)">
      <option *ngFor="let size of cardSizes">
        {{ size }}
      </option>
    </select>
  </div>
</div> -->
