

<div class="div">

  <mat-card class="example-card" *ngFor="
      let card of allBill.reverse()">
    <mat-card-header class="head">
      <mat-card-title class="text"> {{ card.billId }}</mat-card-title>
      <mat-card-subtitle class="text text1">
        Date :-{{ card.billDate }} | Name :- {{ card.customerName }}</mat-card-subtitle>
    </mat-card-header>
        <mat-card-content class="desc">
          {{ card.customerAddress }}
          {{ card.customerEmailID }} {{card.customerPhoneNo}}
        </mat-card-content>
        <mat-card-content class="desc">
         {{card.totalBill}}*{{card.discount}} | {{card.payMode}}
        </mat-card-content>
        <div *ngFor="let product of card.purchasedProductList">
          <p>{{ product.productName }} - Quantity: {{ product.stock}} - Price: {{ product.productPrice }}</p>
          <!-- Add more product details as needed -->
        </div>
  </mat-card>
</div>
<!-- <div  class="size1" id="pg">
  <div style="width: 400px">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onCardDataChange($event)">
    </pagination-controls>
  </div>
  <div class="size1">
    <a>Tasks per page :- </a>
    <select (change)="onCardSizeChange($event)">
      <option *ngFor="let size of cardSizes">
        {{ size }}
      </option>
    </select>
  </div>
</div> -->
