.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* to set the entire div in center */
.products {
  width: 90%;
  padding: 4%;
}
.fullForm {
  background-color: rgb(86, 49, 120);
  padding: 5%;
}
.row{
  display: flex;
  align-items: center;
  column-gap: 12vh;
}
mat-form-field{
  width: 100%;
}
mat-panel-title {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.text1 {
  font-size: 17px;
  color: white;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;

}
.button-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-title-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-your-category{
font-weight: bold;
color: blue;
}
.add-your-category:hover{
  background-color: "#563178";
  font-weight: bolder;
color: black;
}
