<div class="product-card">
  <div class="for-product" *ngFor="let card of allProduct">
    <div class="continer">
      <div class="main-div">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{card.productName}}
              </mat-panel-title>
              <mat-panel-description>
                Stock-in : {{card.stock}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Price : ₹{{card.productPrice}}</p>
            <p>Expires on : {{card.expiryDate | date:'dd-MMMM-yyyy' }}</p>
            <p>Storage Location : {{card.storageLocation}}</p>
            <p>Category : {{card.productCategory}}</p>
            <p>tax: {{card.tax}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </div>
</div>

<!-- Expansion panel -->
