.product-card{
  /* border : 1px solid green; */
  margin-top:  15vh;
  margin-left: 5vh;
  margin-right: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-div{
  margin: 20px;
  max-width: 100vh;

}
